trigger: none
pr: none
pool:
  vmImage: 'ubuntu-latest'
parameters:
  - name: resource
    displayName: "Wybierz zasób do utworzenia"
    type: string
    default: "Vm"
    values:
    - Vm
    - aks

stages:
  - stage: deploy
    displayName: "Deploy Terraform"
    jobs:
    - job: azureLogin
      displayName: "Login to Azure"
      steps:
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: 'latest'

      - task: AzureCLI@2
        displayName: "Run terraform Init"
        env:
          ARM_CLIENT_ID: $(servicePrincipalId)
          ARM_CLIENT_SECRET: $(servicePrincipalKey)
          ARM_SUBSCRIPTION_ID: $(subscriptionId)
          ARM_TENANT_ID: $(tenantId)
        inputs:
          azureSubscription: 'azure_portal' # MUSISZ TO DODAĆ
          scriptType: 'bash'                                  # MUSISZ TO DODAĆ
          addSpnToEnvironment: false                           # Wymagane, aby zmienne $servicePrincipalId działały
          scriptLocation: 'inlineScript'
          ${{ if eq(${{ parameters.resource }}, 'Vm') }}:
            workingDirectory: $(Build.SourcesDirectory)/tests/virtual_machine
          ${{ else }}:
            workingDirectory: $(Build.SourcesDirectory)/tests/aks
          inlineScript: |
            # Uwaga: w ADO ścieżka to zazwyczaj $(System.DefaultWorkingDirectory)
            # Domyślnie startujesz w folderze /s, więc wystarczy:
            terraform init
            # terraform plan --var "ssh_key=$(SSH_KEY)"
      
      - task: AzureCLI@2
        displayName: "Run terraform plan"
        env:
          ARM_CLIENT_ID: $(servicePrincipalId)
          ARM_CLIENT_SECRET: $(servicePrincipalKey)
          ARM_SUBSCRIPTION_ID: $(subscriptionId)
          ARM_TENANT_ID: $(tenantId)       
        inputs:
          azureSubscription: 'azure_portal' # MUSISZ TO DODAĆ
          scriptType: 'bash'                                  # MUSISZ TO DODAĆ
          addSpnToEnvironment: false                           # Wymagane, aby zmienne $servicePrincipalId działały
          scriptLocation: 'inlineScript'
          ${{ if eq(${{ parameters.resource }}, 'Vm') }}:
            workingDirectory: $(Build.SourcesDirectory)/tests/virtual_machine
          ${{ else }}:
            workingDirectory: $(Build.SourcesDirectory)/tests/aks
          inlineScript: |
            terraform plan -out=$(Build.BuildNumber)-${{ parameters.resource }}.tfplan
            ls -la 