trigger: none
pr: none
pool:
  vmImage: 'ubuntu-latest'
parameters:
  - name: resource
    displayName: "Wybierz zasób do utworzenia"
    type: string
    default: "Vm"
    values:
    - Vm
    - aks

stages:
  - stage: deploy
    displayName: "Deploy Terraform"
    jobs:
    - job: azureLogin
      displayName: "Login to Azure"
      steps:
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: 'latest'

      - task: AzureCLI@2
        displayName: "Run terraform Init"
        inputs:
          azureSubscription: 'azure_portal' # MUSISZ TO DODAĆ
          scriptType: 'bash'                                  # MUSISZ TO DODAĆ
          addSpnToEnvironment: true                           # Wymagane, aby zmienne $servicePrincipalId działały
          scriptLocation: 'inlineScript'
          inlineScript: |
            export ARM_CLIENT_ID=$servicePrincipalId
            export ARM_CLIENT_SECRET=$servicePrincipalKey
            export ARM_SUBSCRIPTION_ID=$(az account show --query id -o tsv)
            export ARM_TENANT_ID=$tenantId
            
            # Uwaga: w ADO ścieżka to zazwyczaj $(System.DefaultWorkingDirectory)
            # Domyślnie startujesz w folderze /s, więc wystarczy:
            cd ./tests/virtual_machine
            
            terraform init
            terraform plan --var "ssh_key=$(SSH_KEY)"
