name: Terraform deploy custom resource

on:
  workflow_dispatch:
    inputs:
      resource:
        required: false
        type: choice
        options:
        - Vm
        - aks

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      resource: ${{ inputs.resource }}
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_USE_OIDC: true

    steps:
      - name: Azure login
        uses: azure/login@v2
        with:
          creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'

      - name: Checkout
        uses: actions/checkout@v6.0.2
        
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      
      - name: Init Terraform
        run: terraform init
        working-directory: ./infrastructure/provider

      - name: Terraform plan
        if: ${{ inputs.resource == 'Vm' }}
        run: terraform plan -chdir ./modules/virtual_machine
        env: 
          TF_VAR_ssh_key: ${{ secrets.ssh_key }}
       
      - name: Terraform plan
        if: ${{ inputs.resource == 'aks' }}
        run: terraform plan ./modules/aks
        env: 
          TF_VAR_ssh_key: ${{ secrets.ssh_key }}
    
